body{
    width: 365px;
    height: 600px;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.page-content {
    /* padding: 20px; */
    /* padding: 0 0 20px 0; */
    margin-bottom: 60px; /* 留出底部导航栏的空间 */
}
.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}
.footer-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}
.footer-nav li {
    margin: 10px;
}